# Editors temp files
HHWWgg_v2_6_*/
HHWWgg_v2-6*/
DiPhoPt*/
TEST_*/
rasharma.cc
.__*
*.swp
*~

# Other big files
QGL_AK4chs_94X.db

# SCRAM business
__init__.py
*.pyc

# CRAB3 stuff
crab_*
crabConfig_*

# ROOT-related files
*.root
*_cc.d
*_cc.so
*_C.d
*_C.so
*\#*
.\#*
AutoDict_*

# Other temp files
*.txt
*.log
*.png
*.pdf

# This is a symlink created by setup.sh
